<h1>{{name}}</h1>


<!-- etiqueta hml de definicion list -->
<dl>
  <!-- table description -->
  <td>Nombre:</td>
  <!-- description -->
  <dd>{{name}}</dd>

  <td>Edad:</td>
  <dd>{{age}}</dd>

  <td>Método:</td>
  <dd>{{getHeroDescription()}}</dd>

  <td>Capitalizado:</td>
  <dd>{{capitalizedName}}</dd>

</dl>

<!-- cuando trabajamos con directivas propias de angular no hace falta ponel las dobles llaves dentro -->
<div class="d-flex gap-2">
  <button *ngIf="name !== 'Spiderman'" (click)="changeHero()" class="btn btn-primary">Cambiar Nombre</button>
  <button *ngIf="age !== 25" (click)="changeAge()" class="btn btn-primary">Cambiar Edad</button>
  <button (click)="resetForm()" class="btn btn-primary">Reestablecer valores</button>
</div>

<hr>
<!-- Two way data binding -->
<!-- Angular maneja el Two way data binding si hacemos una modificacion del lado del template tambien se actualizara en el hero.component.ts-->

<!-- One way data binding -->
<!-- Pero en nuestras aplicaciones de angular hay que tratar de priorizar el one way data binding, es decir cambiar solo por una via -->